<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MFMSconnectionstring" connectionString="Data Source=.;Initial Catalog=MFMS;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="MFMSConnectionString2" connectionString="Data Source=.;Initial Catalog=MFMS;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="MFMSEntities" connectionString="metadata=res://*/App_Code.PlanetWrox.csdl|res://*/App_Code.PlanetWrox.ssdl|res://*/App_Code.PlanetWrox.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MFMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-Site-20150525002253;Integrated Security=SSPI" />-->
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <siteMap enabled="true">
  <providers>
    <clear />
    <add siteMapFile="Web.sitemap" name="AspNetXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" />
  </providers>
</siteMap>
    <authentication mode="Forms" >
      <forms loginUrl="~/Login.aspx" timeout="2880"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <pages theme="bootstrap">
      <controls>
        <add tagPrefix="MFMS" tagName="Banner" src="~/Controls/Banner.ascx" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="MFMSconnectionstring" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="MFMSconnectionstring" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="DefaultRoleProvider">
      <providers>
        <add connectionStringName="MFMSconnectionstring" applicationName="/" name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="MFMSconnectionstring" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="Shittu Ayodeji &lt;mfmsmail@yahoo.com>">
        <network host="smtp.mail.yahoo.com" password="akanji12" enableSsl="true" port="587" userName="mfmsmail@yahoo.com" />
      </smtp>
    </mailSettings>
  </system.net>
<location path="Patients/PatientRegistration.aspx">
<system.web>
<authorization>
<allow roles="Receptionist,Admin" />
<deny users="*" />
</authorization>
</system.web>
</location>
<location path="Patients/EditPatient.aspx">
<system.web>
<authorization>
<allow roles="Receptionist,Admin" />
<deny users="*" />
</authorization>
</system.web>
</location>
<location path="Patients/PatientPhotoUpload.aspx">
<system.web>
<authorization>
<allow roles="Receptionist,Admin" />
<deny users="*" />
</authorization>
</system.web>
</location>
<location path="Rooms">
<system.web>
<authorization>
<allow roles="Nurse,Admin" />
<deny users="*" />
</authorization>
</system.web>
</location>
<location path="Appointments">
<system.web>
<authorization>
<allow roles="Nurse,Doctor,Admin" />
<deny users="*" />
</authorization>
</system.web>
</location>
<location path="Visits">
<system.web>
<authorization>
<allow roles="Pharmacist,Receptionist,Doctor,Admin" />
<deny users="*" />
</authorization>
</system.web>
</location>
<location path="Billing">
<system.web>
<authorization>
<allow roles="Receptionist,Admin" />
<deny users="*" />
</authorization>
</system.web>
</location>
<location path="Pharmacy">
<system.web>
<authorization>
<allow roles="Pharmacist,Admin" />
<deny users="*" />
</authorization>
</system.web>
</location>
<location path="Staff/Default.aspx">
<system.web>
<authorization>
<allow roles="Admin" />
<deny users="*" />
</authorization>
</system.web>
</location>
<location path="Staff/EditDefault.aspx">
<system.web>
<authorization>
<allow roles="Admin" />
<deny users="*" />
</authorization>
</system.web>
</location>
<location path="Staff/SearchDefault.aspx">
<system.web>
<authorization>
<allow roles="Nurse,Admin,Receptionist,Pharmacist,Doctor" />
<deny users="*" />
</authorization>
</system.web>
</location>
<location path="Staff/DeleteDefault.aspx">
<system.web>
<authorization>
<allow roles="Admin" />
<deny users="*" />
</authorization>
</system.web>
</location>
<location path="Staff/AllStaff.aspx">
<system.web>
<authorization>
<allow roles="Nurse,Admin,Receptionist,Doctor,Pharmacist" />
<deny users="*" />
</authorization>
</system.web>
</location>
<location path="Patients">
<system.web>
<authorization>
<allow roles="Nurse,Admin,Doctor,Receptionist,Pharmacist" />
<deny users="*" />
</authorization>
</system.web>
</location>
  <location path="Appointments/CreateAppointment.aspx">
    <system.web>
      <authorization>
        <allow roles="Nurse,Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Visits/VisitRegistration.aspx">
    <system.web>
      <authorization>
        <allow roles="Receptionist,Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Visits/EditVisit.aspx">
    <system.web>
      <authorization>
        <allow roles="Receptionist,Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>
